/*
 * @Author: Conghao Wong
 * @Date: 2023-03-03 16:11:49
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2023-04-13 17:52:52
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */


 .btn-colorful {
    /* width: 22%; */
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
    border: 0;
}

.btn-colorful:hover {
    background-color: #AEA0E6;
    border-color: #AEA0E6;
    border: 0;
}

.btn-colorful:active {
    background-color: #7d68d5;
    border-color: #7d68d5;
    border: 0;
}