<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3Dboundingbox</key>
	<dict>
		<key>base_dim</key>
		<integer>3</integer>
		<key>base_len</key>
		<integer>6</integer>
		<key>dim</key>
		<integer>6</integer>
	</dict>
	<key>3Dboundingbox-rotate</key>
	<dict>
		<key>base_dim</key>
		<integer>3</integer>
		<key>base_len</key>
		<integer>6</integer>
		<key>dim</key>
		<integer>10</integer>
	</dict>
	<key>3Dcoordinate</key>
	<dict>
		<key>base_dim</key>
		<integer>3</integer>
		<key>base_len</key>
		<integer>3</integer>
		<key>dim</key>
		<integer>3</integer>
	</dict>
	<key>3Dskeleton-17</key>
	<dict>
		<key>base_dim</key>
		<integer>3</integer>
		<key>base_len</key>
		<integer>51</integer>
		<key>dim</key>
		<integer>51</integer>
	</dict>
	<key>boundingbox</key>
	<dict>
		<key>base_dim</key>
		<integer>2</integer>
		<key>base_len</key>
		<integer>4</integer>
		<key>dim</key>
		<integer>4</integer>
	</dict>
	<key>boundingbox-rotate</key>
	<dict>
		<key>base_dim</key>
		<integer>2</integer>
		<key>base_len</key>
		<integer>4</integer>
		<key>dim</key>
		<integer>5</integer>
	</dict>
	<key>coordinate</key>
	<dict>
		<key>base_dim</key>
		<integer>2</integer>
		<key>base_len</key>
		<integer>2</integer>
		<key>dim</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
